[submodule "assistant/pi-mono"]
	path = assistant/pi-mono
	url = git@github.com:davine47/pi-mono.git
[submodule "knowledge/XiangShan"]
	path = knowledge/XiangShan
	url = https://github.com/OpenXiangShan/XiangShan.git
[submodule "knowledge/nexus-am"]
	path = knowledge/nexus-am
	url = git@github.com:davine47/nexus-am.git
[submodule "knowledge/riscv-isa-manual"]
	path = knowledge/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "knowledge/riscv-isa-sim"]
	path = knowledge/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
