.idea/
out/
target/
work/
project/target
docs/generated
docs-target/
*.bsp
*.properties
*.anno.json
*.swp
*.bin
*.elf
*.hex
*.dump
*.img
*.o
*.out
*~
build/
*.d
/examples
*.vcd
.addons-dont-touch
/lib/
obj_dir/
/test_lib/
/testbuild/
*#
.#*
/mill.bat
/gen/
/mill
__pycache__
sim_build/
.vscode/
*.lst
